<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/PersonalMessage.css" rel="stylesheet">
    <link href="../css/like_song.css" rel="stylesheet">
    <script src="/JS/jquery-3.3.1.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
    <script src="/JS/main_js.js"></script>
    <script>
        $(document).ready(function(){
            /*<![CDATA[*/
            var size = [[${songs.size()}]];
            /*]]>*/
            for (var num =0; num<size; num++) {
                $("#oa_"+num).hide();
            }
        });
        function popwindowup(i){
            var styleVal1 = document.getElementById('popwindow').getAttribute("style");
            var len= styleVal1.length;
            var xx= styleVal1.substring(0,14);
            var yy= styleVal1.substring(14,len);
            var zz="display:block;position:absolute;";
            var top=128+i*50;
            styleVal1=zz+"left:548px;top:"+top+"px;";
            document.getElementById("popwindow").setAttribute("style",styleVal1);
        }
    </script>
    <style>
        body {
            background-color: #fafafa;
        }
        .mod_songlist_toolbar a:hover{
            color: rgba(0,124,249,1.00);
        }
    </style>
</head>
<body>
<ul class="songlist__header">
    <li class="songlist__header_name">歌曲</li>
    <li class="songlist__header_album">专辑</li>
    <li class="songlist__header_author">歌手</li>
    <li class="songlist__header_time">匹配分</li>
</ul>
<!--/*@thymesVar id="songs" type="com.example.demo.entity.Song"*/-->
<div th:each="song,iterStat:${songs}">
    <ul th:class="${iterStat.odd}? 'songlistlist1 submeau_1' : 'songlistlist2 submeau_2'" th:onmouseover="'javascript:buttonShow(\''+${iterStat.index}+'\')'" th:onmouseout="'javascript:buttonhide(\''+${iterStat.index}+'\')'" >
        <li class="songlist__name"  ><a th:href="@{'/Song?songid='+${song.getSongid()}}" th:text="${song.getSongname()}"></li>
        <div class="songlist__btn"  th:id="'oa_'+${iterStat.index}">
            <span><a href="javascript:;"><img src="../image/Index_image/play.png"  th:onclick="playSong([[${song.getSongid()}]])" alt="play" height="35px" width="35px" class="songlist_btn"/></a></span>
            <span><a href="javascript:;" th:onclick="favoriteSong([[${song.getSongid()}]])"><img src="../image/Index_image/like.png" alt="like" height="35px" width="35px" class="songlist_btn"/></a></span>
            <span><a id="add" href="javascript:;" th:onclick="choseSongList([[${iterStat.index}]],[[${song.getSongid()}]])"><img src="../image/Index_image/add.png" alt="add" height="35px" width="35px" class="songlist_btn"/></a></span>
            <span><a href="javascript:;"><img src="../image/Index_image/download.png" alt="download" height="35px" width="35px" class="songlist_btn"/></a></span>
        </div>
        <li class="songlist__header_album" ><a th:text="${albums.get(iterStat.index).getAlbumname()}" th:href="@{'/Album?albumid='+${albums.get(iterStat.index).getAlbumid()}}" ></a></li>
        <li class="songlist__header_author" ><a th:each="singer:${singers.get(iterStat.index)}" th:text="${singer.getSingername()}+' '" th:href="@{'/Singer?singerid='+${singer.getSingerid()}}"></a></li>
        <li class="songlist__header_time" th:text="${point[iterStat.index]}"></li>
    </ul>
</div>

<div class="mod_operate_menu" id="popwindow" style="display:none;position:absolute;left:697px;top:669px;" >

</div>
<!-- 输入框页面 -->
<div class="mod_popup_mask" id="mask" style="display:none;"></div>
<div id="newsonglist_div" class="mod_popup popup_new_list" data-aria="popup" style="display:none;position:fixed;z-index:100000;margin:10px;width:520px;height:auto;left: 507px;top:242px;">
    <div class="popup__hd">
        <h2 class="popup__tit">创建新歌单</h2>
        <a href="javascript:;" class="popup__close" title="关闭"><i class="popup__icon_close"></i><i class="icon_txt">关闭</i></a>
    </div>

    <div class="popup__bd " id="dialogbox">
        <label class="form__label">歌单名</label> <div class="mod_form_txt"> <input type="text" value="" class="form_txt__input" id="new_playlist_fav"><span class="form_txt__tips" id="name_leftnum_fav">20</span></div>
    </div>

    <div class="popup__ft">
        <button onclick="close_newsonglist_div()" class="mod_btn upload_btns__item js-button1">取消</button>
        <button  class="mod_btn_blue upload_btns__item js-button2">确定</button>
    </div>
</div>
</body>
</html>